<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        
        <customErrors mode="Off"/>
      
        <httpRuntime maxRequestLength="10000" />
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge"
                     cacheControlMaxAge="7.00:00:00" />
      </staticContent>
    </system.webServer>

    <connectionStrings>
      <add name="mustacheDB" connectionString="server=64.62.211.131;database=tiwilfor_mustache;uid=tiwilfor_bd;password=ig2jiurpgg;" />
    </connectionStrings>

    <appSettings>
      
      <!-- SE FOR GMAIL -->
      <!--<add key="hostSMTP" value="smtp.gmail.com"/> 
      <add key="portSMTP" value="587"/>
      <add key="enableSSL" value="true"/>
      <add key="remetente" value="Mustachebordo@gmail.com"/>
      <add key="destinatario" value="Mustachebordo@gmail.com"/>
      <add key="user" value=""/> --><!-- Colocar usuário do gmail aqui --><!--
      <add key="pass" value=""/> --><!-- Colocar senha do gmail aqui -->

      <!-- SE FOR HOTMAIL -->
      <add key="hostSMTP" value="smtp-mail.outlook.com"/>
      <!--<add key="portSMTP" value="587"/>
      <add key="enableSSL" value="true"/>
      <add key="remetente" value="Mustachebordo@gmail.com"/>
      <add key="destinatario" value="Mustachebordo@gmail.com"/>
      <add key="user" value=""/>
      <add key="pass" value=""/>-->

      <add key="portSMTP" value="587"/>
      <add key="enableSSL" value="true"/>
      <add key="remetente" value="igorarduini@hotmail.com"/>
      <add key="destinatario" value="igorarduini@hotmail.com"/>
      <!-- Mustachebordo@gmail.com -->
      <add key="user" value="igorarduini@hotmail.com"/>
      <add key="pass" value="Ig2jiurpgg"/>

      <add key="URLSite" value="http://localhost:8000/"/>
    </appSettings>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.4.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
    
  </system.data>
  
</configuration>
